Dockerfile

# Ignore the gitignore
.gitignore

# Ignore the script files
*.sh

# Ignore Python bytecode files
__pycache__/

# Ignore cv_project which is the developing virtual environment
cv_project/

# Ignore README.md
README.md