./Dockerfile

# Ignore the script files
./build_and_run.sh
./copy_to_volume.sh

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore .build and hash files
.build/
*.hash

# Ignore cv_project which is the developing virtual environment
cv_project/

# Ignore README.md
README.md